/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target = <&gpio>;
        __overlay__ {
            pwm_pins: pwm_pins {
                brcm,pins = <12>;
                brcm,function = <4>; /* Alt0 */
            };
        };
    };

    fragment@1 {
        target = <&pwm>;
        frag1: __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&pwm_pins>;
            assigned-clock-rates = <1000000>;
            status = "okay";
        };
    };

    fragment@2 {
        target-path = "/";
        __overlay__ {
           lcd: lcd {
				compatible = "pwm-backlight";
				brightness-levels = <255 180 150 120 100 90 80 70 60 40>;
				default-brightness-level = <10>;
				pwms = <&pwm 0 5000000 0>;
			};
        };
    };
    fragment@3 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			ina226@40 {
				compatible = "ti,ina226";
				reg = <0x40>;
				status = "okay";
				shunt-resistor = <10000>;
			};
		};
	};

	fragment@4 {
		arget = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			tsl2591: tsl2591@29 {
			    compatible = "amtstaos,tsl2591";
			    reg = <0x29>;
			};
		};
	};
      
   fragment@5 {
	target = <&i2c1>;    
	__overlay__ {
		#address-cells = <1>;
		#size-cells = <0>;
		ds2482: ds2482@18 {
		        compatible = "maxim,ds2482";
		        reg = <0x18>;
            	};
	};
   };
};
